.scale {
    background-image: url("images/scale.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	max-width: 600px;
	margin: auto;
	text-align: center;
}

.background {
	background-image: url("images/background.jpg");
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.form-buttons {
    position: absolute;
    top: 50%;
}

img {
	max-width: 100%;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
}

label, input, button {
	margin: 10px;
    position: relative;
}

label[for="weight"], #weight {
    top: 405px;
    right: 400px;
}


label[for="weight"] {
    color: white;
}

label[for="kilograms pounds"], #kilograms,  #pounds{
    top: 400px;
    color: white;
}

label[for="kilograms"]{
    top: 398px;
    right: 110px;
    color: white;
}

label[for="pounds"]{
    top: 398px;
    left: 10px;
    color: white;
}

#pounds {
    left: 25px;
}

button {
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #0069d9;
}

#result {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
    position: absolute;
    top: 520px;
    right: 190px;
    color: white;
}

h1 {
    color: white;
}

/* .results {
    top: 1000px;
} */